/*
!.gitignore
!README.md
!.bashrc
!.zshrc
!.vimrc
!.tmux.conf
!.profile
!.i3status.conf
!.gitconfig
!.cmus/*
!.cmus/autosave
!.config/cmus/
!.config/ranger/rc.conf
!.config/xfce4/terminal/terminalrc
!.config/xnviewmp/xnview.ini
!.config/compton.conf
!.config/redshift.conf
!.i3/
!.screenlayout/
!.script/
!.vim/colors/

